/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Ojuju:wght@200..800&family=Rock+3D&family=Teko:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.page-bg {
  /* background-color: violet; */
  background-image: radial-gradient(circle, #9290c3, #535c91, #1b1a55, #070f2b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 16px;
  width: 400px;
}
.head {
  text-align: center;
  font-family: "Rock 3D", "Teko", "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 8px;
  text-shadow: 2px 2px 16px darkblue;
}
.quote {
  text-align: center;
  font-family: "Merienda", "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.author {
  text-align: end;
  opacity: 0.8;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 6px;
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}
hr {
  margin: 4px auto;
  width: 300px;
  border-radius: 4px;
  opacity: 0.8;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}
ul {
  color: rgb(80, 82, 82);
  display: flex;
  list-style: none;
}
li {
  cursor: pointer;
  margin: 0px 6px;
  padding: 8px;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 1.8px solid #1b1a55;
  transition: transform 0.3s ease;
}
li:hover {
  transform: scale(1.1);
}
li:last-child {
  padding: 8px 10px;
}
.buton {
  cursor: pointer;
  border-radius: 6px;
  border: none;
  padding: 6px 12px;
  background-color: #1b1a55;
  color: white;
  font-family: monospace;
  transition: box-shadow 0.3s 0.1s ease-in-out;
}
.buton:hover {
  box-shadow: -2px 2px 6px #535c91;
}
.disabled {
  cursor: no-drop;
  box-shadow: none !important;
  opacity: 0.8;
}
